.login-page {
  display: flex;
  height: 100vh;
  background-color: #f4f5f7; /* Choisissez une couleur de fond légère */
}

.form-section {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.form-container {
  width: 100%;
  max-width: 450px; /* Largeur maximale du formulaire */
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre subtile pour donner de la profondeur */
}

.form-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.action-group {
  margin-top: 20px;
}

.submit-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #0052cc;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submit-btn:hover {
  background-color: #00397a;
}

.alternative-action {
  text-align: center;
  margin-top: 20px;
}

.link {
  color: #0052cc;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: #00397a;
}

.background-image-section {
  width: 65%;
  background-image: url('https://www.akamai.com/site/im-demo/perceptual-standard.jpg?imbypass=true');
  background-size: cover;
  background-position: center;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .login-page {
    flex-direction: column-reverse;
  }

  .form-section {
    width: 100%;
    padding: 20px;
  }

  .background-image-section {
    width: 100%;
    height: 200px; /* or whatever height you prefer */
  }
}
